nav{
	background-color: yellow;
	width:100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    box-sizing: border-box;


}
body{
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}

input{
	padding: 0px 10px;
	/*width: 500px;
	border: 1px solid black;
	height: 27px;
	font-family: 'Open Sans', sans-serif;*/
	border:none;
	width:95%;

}

input:focus{
	outline:none;
}

div{
display: flex;
width:150px;
height:60px;
justify-content: space-around;
align-items: center;
}
div > p{
	width: 60px;
	
	box-sizing: border-box;
	padding: 0px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-controls{
	width:200px;
}

.nav-controls > div {
	height: 100%;
}

/*.nav-controls > div > p {
	margin: 0;
}*/

.borderr{
	border-right: 1px solid black;
	padding: 5px;
}

.discover{
	padding: 0px 5px;
    height: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    

h1{
	margin:0px;
	display: flex;
	align-items: center;
	font-family: 'Damion', cursive;
	
}

form{
	display: flex;
	height: 100%;
	width:40%;
	align-items: center;
}

form > div{
	/*display: flex;*/
	height: 50%;
	width:100%;
	/*align-items: center;*/
	border-radius: 5px;
	background-color: white;
	border: 1px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  
  color:black;
}